.chek-btn{
   padding-top: 30px;
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
}

.checkboxContainer{
   background-color: #E6E6F0;
   padding:8px 30px 10px 30px;
   width: fit-content;
   border-radius: 12px;
   height: 42px;
}
.checkboxContainer label{
   padding:10 20px;
}
.checkboxContainer input[name="radiobutton"] {
   display:none;
}

.checkboxContainer input:checked + label{
   padding:8px 30px 10px 30px;
   border-radius: 10px;
   background-color:#fff;
}