:root {
  --main-text-color: #ffffff;
  --main-link-color: #24a3ff;
  --bg-gradient: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  --bg-gradient-reversed: linear-gradient(
    -90.13deg,
    #f0145a 0.84%,
    #ef8080 99.96%
  );
  --hover-color: #f0145a;
  --grey-color: #b3b3ba;
  --name-color: #323264;
}
